/OtherProjects/Rust/target/
/cmake-build-release-mysys/
/cmake-build-debug-mysys/
/Learning/
/.idea
/Learning/Rust/rustlings/
/.zig-cache/h/51742fa474faf11914e7705b4cf97f96.txt
/.zig-cache/z/4013666067c46f3fbfd52574108cd554
/.zig-cache/z/d1be086ff305b248fcc08d9313b40519
/.zig-cache/o/8ecc4003dcad74ae04403d3217370515/dependencies.zig
/.zig-cache/h/timestamp
/build/
/.zig-cache/
.idea/editor.xml
/.vscode/
/OtherProjects/Java/Chess/.idea/vcs.xml
/flamegraph.svg
/out/
/Debug/
/cmake-build-debug-mingw-gcc/
/cmake-build-debug/
/cmake-build-debug-mingw/
/cmake-build-debug-old/
/OtherProjects/Cpp/InfraCamera/cmake-build-debug/
/OtherProjects/Cpp/InfraCamera/cmake-build-debug-visual-studio/
/OtherProjects/Cpp/McpServer/cmake-build-debug-visual-studio/
/OtherProjects/Cpp/McpServer/cmake-build-debug/
